* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* מונע גלילה */
}

.container {
    text-align: center;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

header {
    /* background-color: #606d60; */
    background-color: hwb(120 39% 57% / 0.5);
    color: white;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: 0;
}

button {
    background-color: #697869;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

button:hover {
    background-color: #45a049;
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}
.overlay-text h1{
color: black;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, textarea {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    /* border: none; */
    font-size: 14px;
}
/* footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    width: 100%;
    position: relative;  
} */
footer{
    background-color: #f1f1f1;
    opacity: 40%;
    background-color: hsl(#f1f1f1);
    text-align: center;
    padding: 1px;
    bottom: 0;
    width: 100%;
    position: absolute;
    left: 0;
}
.notification {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #4caf50; /* צבע ירוק להודעת הצלחה */
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.notification.show {
    opacity: 1;
}

.notification.error {
    background-color: #f44336; /* צבע אדום להודעת שגיאה */
}


